* {
  box-sizing: border-box;
}

.place-finder header {
  background: black;
  margin-bottom: 10px;
}
.place-finder header .search input, .place-finder header .search button {
  width: 150px;
  height: 30px;
}
.place-finder header h1 {
  display: inline-block;
  color: white;
  padding: 20px 0 0 20px;
  font-size: 2em;
}
.search, .filter {
  color: white;
  padding-bottom: 20px;
  margin-left: 20%;

}
.filter .price, .filter .open {
  display: inline-block;
  padding: 2px;
  margin-right: 20px;
  border: solid grey 1px;
}
.place-finder .content {
  padding: 0;
  width: 1000px;
}
.place-finder .content .list {
  margin-left: 10%;
  display: inline-block;
  vertical-align: top;
  /*border: solid grey 2px;*/
  width: 40%;
}

.place-finder .list li {
  border-top: solid #CAC9C9 2px;
  margin-bottom: 2px;
}
.place-finder .content .list h1 {
  font-weight: bold;
  font-size: 1.5em;
}
/*.map-wrapper {
  position: relative;
}*/
.place-finder .map-container {
  position: absolute;
  top: 170px;
  left: 40%;
  width: 600px;
  height: 350px;
}

.place-finder .map-container-fixed {
  position: fixed;
  top: 2px;
  left: 40%;
  width: 600px;
  height: 350px;
}

#map {
  display: inline-block;
  width: 100%;
  height: 100%;
}
