* {
  box-sizing: border-box;
}
header {
  background: black;
}
header input, header button {
  width: 150px;
  height: 30px;

}
header h1 {
  display: inline-block;
  color: white;
    padding: 20px 20px 20px 20px;
    font-size: 2em;
}
.search {
  display: inline-block;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  /*margin-top: 20px;
  margin-bottom: 20px;*/
}

.content {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  height: 600px;
}

.list {
  display: inline-block;
  vertical-align: top;
  width: 39%;
}
.list h1 {
  font-weight: bold;
  font-size: 1.5em;
}
#map {
  display: inline-block;
  width: 60%;
  height: 80%;
}
