<!doctype html>
<html ng-app="findPlaces">

<head>
  <title>Find nearby places</title>
  <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/filter.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqRYRb5O7eYKT49fDQXkQZn5PFasHrNYE&libraries=places"></script>
</head>

<body ng-controller="findPlacesController">
  <header>
    <h1>Places Finder</h1>
    <div class="search">
      <input type="text" ng-model="query" placeholder="search" />
      <input type="text" ng-model="nearby" placeholder="current location or nearby" />
      <button ng-click="search()">search</button>
    </div>
    <div class="filter">
      <div class="open">
        <input type="checkbox" value="true" ng-model="openNow" /> open now
      </div>
      <div class="price">
        <input type="checkbox" ng-model="price1" /> $
        <input type="checkbox" ng-model="price2" /> $$
        <input type="checkbox" ng-model="price3" /> $$$
        <input type="checkbox" ng-model="price4" /> $$$$
      </div>
    </div>
  </header>
  <div class="content">
    <section class="list">
      <ul>
        <li ng-repeat="place in places | pricesFilter:price1:price2:price3:price4 | openNowFilter:openNow">
          <h1> {{place.name}} </h1>
          <div>
            <span ng-repeat="i in generateList(place.rating) track by $index">&#9733</span>
          </div>
          <div>
            <span ng-repeat="i in generateList(place.price_level) track by $index">&#36;</span>
          </div>
          <label> {{place.formatted_address}}</label>
        </li>
      </ul>
    </section>
    <div class="map-wrapper map-container">
      <div id="map" places-map>
      </div>
    </div>
  </div>
</body>

</html>
